.page.theme_dark {
  --main-font-family: "IBM Plex Mono";
  --main-font-size: 18px;
  --main-text-color: #F1B2CE;
  --main-font-weight: 400;
  --main-line-height: 130%;
  --main-background-image: url("../images/cover-image-dark.png");
  --main-background-color: #000028;
  --main-title-text-color: #DB00FF;
  --main-title-text-shadow: #FF0070;
  --main-padding-formule: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  --alternative-title-text-shadow: var(--main-title-text-shadow);
  --theme-text-color: #FF0070;
  --decor-title-text: #000028;
  --accent-font-weight: 700;
  --accent-color: #FF0070;
  --switch-rec: block;
}

@media (prefers-color-scheme: dark) {
  :root 
  { 
    --main-font-family: "IBM Plex Mono";
    --main-font-size: 18px;
    --main-text-color: #F1B2CE;
    --main-font-weight: 400;
    --main-line-height: 130%;
    --main-background-image: url("../images/cover-image-dark.png");
    --main-background-color: #000028;
    --main-title-text-color: #DB00FF;
    --main-title-text-shadow: #FF0070;
    --main-padding-formule: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    --alternative-title-text-shadow: var(--main-title-text-shadow);
    --theme-text-color: #FF0070;
    --decor-title-text: #000028;
    --accent-font-weight: 700;
    --accent-color: #FF0070;
    --switch-rec: block;
  }
}
