.page.theme_dark {
  --main-text-color: #F1B2CE;
  --main-title-text-color: #DB00FF;
  --main-title-text-shadow: #FF0070;
  --main-background-image: url("../images/cover-image-dark.png");
  --main-background-color: #000028;
  --hover-button-border-color: rgba(255, 0, 112, 0.4);
  --alternative-title-text-shadow: var(--main-title-text-shadow);
  --theme-text-color: #FF0070;
  --decor-title-text: #000028;
  --link-text-shadow-color: var(--main-title-text-shadow);
  --accent-color: #FF0070;
  --switch-rec: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Дублируем переменные темной темы */
    --main-text-color: #F1B2CE;
    --main-title-text-color: #DB00FF;
    --main-title-text-shadow: #FF0070;
    --main-background-image: url("../images/cover-image-dark.png");
    --main-background-color: #000028;
    --hover-button-border-color: rgba(255, 0, 112, 0.4);
    --alternative-title-text-shadow: var(--main-title-text-shadow);
    --theme-text-color: #FF0070;
    --decor-title-text: #000028;
    --link-text-shadow-color: var(--main-title-text-shadow);
    --accent-color: #FF0070;
    --switch-rec: block;
  }
}
