.page.theme_light {
  --main-text-color: #353430;
  --main-title-text-color: #FFC2E6;
  --main-title-text-shadow: #FF0070;
  --main-background-image: url("../images/cover-image-light.png");
  --main-background-color: #FFF1F7;
  --hover-button-border-color: rgba(50, 49, 45, 0.40);
  --alternative-title-text-shadow: #FF8DCB;
  --theme-text-color: var(--main-text-color);
  --decor-title-text: var(--main-text-color);
  --link-text-shadow-color: var(--alternative-title-text-shadow);
  --accent-color:#FF8DCB;
  --switch-rec: none;
}

